:root{
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);

    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);

}


*,
*::before,
*::after{

    box-sizing: border-box;
   
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container{
    height: 100%;
    background-color: var(--White);
    width:100%;
    color: var(--White);
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 50px 5px var(--Light-lavender);
}

.container-result{
    background-image: linear-gradient( 
    var(--Light-slate-blue),var(--Light-royal-blue));
    border-radius: 0 0 2rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 2rem 2rem;
    color: color-mix(in srgb, var(--Light-lavender), transparent 5%);
}

.title-result{
    font-size: 1.2rem;
}

.circle-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 100%;
    text-align: center;
    background-image: linear-gradient(var(--Violet-blue), var(--Persian-blue));
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.number-result{
    font-size: 3.5rem;
    font-weight: 800;
    color: var(--White);
}


.content-result h2{
    font-size: 1.4rem;
    margin-bottom: .5rem;
    color: var(--White);
}


.content-result p{
    font-size: .9rem;
}

.container-summary{
    padding: 2rem 1.5rem;
    text-align: center;
    color: var(--Dark-gray-blue);
    font-weight: 800;
}

.point:nth-child(2){
   color: var(--Light-red);
   background-color: color-mix(in srgb, var(--Light-red), transparent 90%);
}

.point:nth-child(3){
    color: var(--Orangey-yellow);
    background-color: color-mix(in srgb, var(--Orangey-yellow), transparent 90%);
}

.point:nth-child(4){
    color: var(--Green-teal);
    background-color: color-mix(in srgb, var(--Green-teal), transparent 90%);
}

.point:nth-child(5){
    color: var(--Cobalt-blue);
    background-color: color-mix(in srgb, var(--Cobalt-blue), transparent 90%);
 }

.point p{
    font-weight: 700;
    color: var(--Dark-gray-blue);
}

.container-summary h2{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 800;
    text-align: left;
}
.point{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
    padding: 1rem .5rem;
    border-radius: .5rem;
}

.point div{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
.point img{
    vertical-align: middle;
}

.highlight{
    color: black;
    font-weight: 800;
}

.btn{
    width: 100%;
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1.5rem;
    color: var(--White);
    background-color: var(--Dark-gray-blue);
}

.btn:hover,
.btn:focus{
    background-image: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue) 
    );
}


@media screen and (min-width: 36rem){
    .container{
        height: initial;
        flex-direction: row;
        width: 31.25rem;
        border-radius: 2rem;
   
    }

    .container-result,
    .container-summary{
       flex-basis: 50%;
       padding: 2rem;
    }

    .container-result{
        border-radius: 2rem;
       
    }

    .circle-result{
        height: 12rem;
        width: 12rem;
        margin: 0;
    }

    .number-result{
        font-size: 4.8rem;
    }
}
